.main-header{
position: relative;
float: right; /*Alineación del contenido*/
width: 100%; /* Ancho de la página con respecto a la ventana */
z-index: 99; /*Posición eje Z, importante cuando se superponen contenidos*/
border-bottom: 0px solid #005993   /* Grosor y color de la línea base de la cabecera */ 
}
.container{
   position: relative;
   margin: 0px auto 0px auto;
   overflow: visible;
   max-width: 940px;
}